{% extends 'base/base.html' %}
{% block start %}
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="col-md">
                    <div class="card text-center text-black  mb-3" id="">
                        <div class="card-header">
                            <h2 class="card-title">{% if object_list %}Всички съставки {% else %} Няма добавени съставки{% endif %}</h2>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><a class="btn btn-lg btn-secondary"
                                                      href="{% url 'ingredient create' %}">Добави съставка</a></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <div class="card card-body">
                    <form method="get">

                        {{ ingredient_filter.form }}

                        <button class="btn btn-secondary" type="submit">Търси</button>
                    </form>
                </div>
            </div>

        </div>
        <br>

        <div class="row">
            <div class="col-md">
                <div class="card card-body">
                    <table class="table table-sm table-striped">
                        <tr>
                            <th>Име</th>
                            <th>Цена в лв.</th>
                            <th>за</th>
                            <th></th>
                            <th></th>
                        </tr>
                        {% for ingredient in object_list %}
                            <tr>
                                <td>{{ ingredient.name }}</td>
                                <td>{{ ingredient.price_per_type }}</td>
                                <td>{{ ingredient.type }}</td>
                                <td><a class="btn btn-md btn-secondary"
                                       href="{% url 'ingredient edit' ingredient.id %}">Промени</a>
                                </td>
                                <td><a class="btn btn-md btn-warning"
                                       href="{% url 'ingredient delete' ingredient.id %}">Изтрий</a>
                                </td>
                            </tr>
                        {% endfor %}

                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
