{% extends 'base/base.html' %}
{% block start %}

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="col-md">
                    <div class="card text-center text-black  mb-3" id="">
                        <div class="card-header">
                            <h2 class="card-title">{% if object_list %}Всички рецепти {% else %} Нямате рецепти{% endif %}</h2>
                        </div>
                        <div class="card-body">
                            <a class="btn btn-lg btn-secondary" href="{% url 'recipe create' %}">Добави рецепта</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col">
                <div class="card card-body">
                    <form method="get">

                        {{ recipe_filter.form }}

                        <button class="btn btn-md btn-secondary" type="submit">Търси</button>
                    </form>
                </div>
            </div>

        </div>
        <br>

        <div class="row">
            <div class="col-md">
                <div class="card card-body">
                    <table class="table table-sm table-striped">
                        <tr>
                            <th>Име</th>
                            <th>Чиста цена</th>
                            <th>Надценка/процент</th>
                            <th>Цена след надценка</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                        {% for recipe in object_list %}
                            <tr>
                                <td>{{ recipe.name }}</td>
                                <td>{{ recipe.price }} лева</td>
                                <td>{{ recipe.increasepercentage.percentage }}%</td>
                                <td>{{ recipe.increased_price }} лева</td>
                                <td><a class="btn btn-md btn-secondary"
                                       href="{% url 'recipe details' recipe.id %}">Детайли</a></td>
                                <td><a class="btn btn-md btn-secondary"
                                       href="{% url 'recipe add as ingredient' recipe.id %}">Като съставка</a></td>
                                <td><a class="btn btn-md btn-warning"
                                       href="{% url 'recipe delete' recipe.id %}">Изтрий</a>
                                </td>
                            </tr>
                        {% endfor %}

                    </table>
                </div>
            </div>
        </div>

    </div>

{% endblock %}
