{% extends 'base/base.html' %}
{% block start %}


    <div class="container">
        <div class="row">
            <div class="col">
                <div class="col-md">
                    <div class="card text-center text-black  mb-3" id="">
                        <div class="card-header">
                            <h2 class="card-title">Изтриване на {{ object.name }}</h2>
                        </div>
                        <div class="card-body">
                            <form action="{% url 'ingredient delete' object.id %}" method="post">
                                {{ form }}
                                {% csrf_token %}
                                <a class="btn btn-lg btn-secondary" href="{% url 'recipes list' %}">Назад</a>
                                <input class="btn btn-lg btn-warning" type="submit" value="Изтрий">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

