{% extends 'base/base.html' %}
{% block start %}
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="col-md">
                    <div class="card text-center text-black mb-3" id="">
                        <div class="card-header">
                            <h2 class="card-title">Рецепта: {{ recipe.name }}</h2>
                        </div>
                        <div class="card-body">
                            <a class="btn btn-md btn-secondary" href="{% url 'recipe finalise' recipe.id %}">Сметни цена</a>
                            <a class="btn btn-md btn-secondary" href="{% url 'recipe ingredient create' recipe.id %}">Добави съставка</a>
                            <a class="btn btn-md btn-secondary"
                               href="{% url 'recipe increase price percentage' recipe.increasepercentage.id %}">Добави надценка</a>
                            <a class="btn btn-md btn-warning" href="{% url 'recipes list' %}">Назад</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col">
                <div class="col-md">
                    <div class="card text-center text-black  mb-3" id="total-orders">
                        <div class="card-header">
                            <h5 class="card-title">Чиста цена</h5>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">{{ recipe.price }} лв.</h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="col-md">
                    <div class="card text-center text-black  mb-3" id="orders-delivered">
                        <div class="card-header">
                            <h5 class="card-title">Надценка/процент</h5>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">{{ recipe.increasepercentage.percentage }}%</h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="col-md">
                    <div class="card text-center text-vlack  mb-3" id="orders-pending">
                        <div class="card-header">
                            <h5 class="card-title">Цена след надценка</h5>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">{{ recipe.increased_price }} лв.</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md">
                <div class="card card-body">
                    <table class="table table-sm table-striped">
                        <tr>
                            <th>Име</th>
                            <th>Количество гр./бройка</th>
                            <th></th>
                            <th></th>
                        </tr>
                        {% for ingredient in recipe.recipeingredient_set.all %}
                            <tr>
                                <td>{{ ingredient.ingredient.name }}</td>
                                <td>{{ ingredient.amount }}</td>
                                <td><a class="btn btn-md btn-secondary"
                                       href="{% url 'recipe ingredient edit' ingredient.id %}">Промени</a></td>
                                <td><a class="btn btn-md btn-warning"
                                       href="{% url 'recipe ingredient delete' ingredient.id %}">Премахни</a></td>
                            </tr>
                        {% endfor %}

                    </table>
                </div>
            </div>

        </div>
    </div>

{% endblock %}
