{% extends 'base/base.html' %}
{% block start %}
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="col-md">
                    <div class="card text-center text-black  mb-3" id="">
                        <div class="card-header">
                            <h1 class="card-title">Промяна на парола</h1>
                        </div>
                        <div class="card-body">
                            <form action="{% url 'change password' request.user.id %}" method="POST">
                                <div class="form-group">
                                    {% csrf_token %}
                                    {{ form }}
                                    <input class="btn btn-lg btn-secondary" type="submit" value="Запази">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}



